<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VoicenterRealtimeAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <VoicenterRealtimeAPI.Properties.Settings>
      <setting name="UserUrl" serializeAs="String">
        <value>https://loginapi.voicenter.co.il/monitorAPI/Login/User</value>
      </setting>
      <setting name="AccountUrl" serializeAs="String">
        <value>https://loginapi.voicenter.co.il/monitorAPI/Login/Account</value>
      </setting>
      <setting name="TokenUrl" serializeAs="String">
        <value>https://loginapi.voicenter.co.il/monitorAPI/Login/Token</value>
      </setting>
      <setting name="RefreshTokenUrl" serializeAs="String">
        <value>https://loginapi.voicenter.co.il/monitorAPI/RefreshIdentityToken</value>
      </setting>
      <setting name="KeepAliveInterval" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="ReconnectionAttempts" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Reconnection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReconnectionDelay" serializeAs="String">
        <value>4000</value>
      </setting>
      <setting name="monitorURI" serializeAs="String">
        <value>https://monitor5.voicenter.co.il</value>
      </setting>
    </VoicenterRealtimeAPI.Properties.Settings>
  </userSettings>
</configuration>